* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "poppins", "sans-serif";
  font-size: 20px;
  background-color: #e2ce1a;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}
.description > img {
  width: 35%;
}
.btn > button,
.btn {
  width: 232px;
  height: 60px;
  border-radius: 20px;
  font-weight: 700;
  gap:10px;
}
.btn > button {
  color: white;
  background-color: transparent;
  border: 3px solid white;
}
.submitright {
  color: white;
  background-color: #36320A;
}
.description > p {
  font-size: 15px;
}
.btn > p {
  font-size: 13px;
  text-align: center;

}
.left {
  background-color: #36320a;
  color: white;
  width: 305px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 36px;
  border-radius: 10px 0 0 10px;
  gap: 42px;
}

.right {
  background-color: #fefaa1;
  width: 640px;
  height: 500px;
  padding: 53px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0 10px 10px 0;
  gap:12px;
}
.title>h1{
  font-weight: 900;
  font-size: 32px;
}
.title>p{
  font-size: 19px;
  font-weight: 500;
}
.input-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
input {
  background-color: #e2ce1a;
  width: 480px;
  height: 60px;
  border-radius: 16px;
  border: none;
  padding: 30px;
  font-weight: 700;
  line-height: 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input:hover {
  border: 3px solid #000000;
}
.submitleft>button:hover{
  color: white;
  background-color: #36320A;
}
.Form-Join {
  background-color: rgb(7, 124, 91);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:550px;
  
}

.form {
  background-color: aquamarine;
  width: 500px;
  height: 300px;
  text-align: center;
}
.register {
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 300px;
  height: 50px;
  text-align: center;
}
.btn:hover{
  background-color: #857e34;
  border:none;
}












